.container {
  background-color: #fff;
  color: #000;
  box-shadow: 2px 2px chocolate;
  margin: auto;
  margin-top: 7rem;
  width: 35%;
  border-radius: 7px;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

form {
  height: 60vh;
}

.form-control {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

label {
  font-weight: 1000;
  font-size: 1.1rem;
}

input[type="text"] {
  width: 100%;
  height: 1.5rem;
  padding: 1rem;
}

button {
  background-color: green;
  color: white;
  width: 25%;
  height: 10%;
  margin-left: 1.7rem;
}

.error {
  margin-top: 0.5rem;
  color: red;
}

.signin-message {
  padding: 1rem;
}
